[Unit]
Description=docker manager Server Daemon
After=connman.service dbus.socket


[Service]
SmackProcessLabel=System
Type=simple
ExecStart=/usr/bin/docker-launcher
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
